
body {
    background-color: rgb(255,255,255);
}
* {
    margin: 0px;
    padding: 0px;
}
* h1,
* h2,
* h3,
* h4,
* h5 {
    font-weight: normal;
}
div#image {
    position: relative;
    height: 502px;
    margin: auto;
    margin-top: 5%;
    overflow: hidden;
}
#slider {
    height: 502px;
    display: flex;
    padding: 0px;
    transition: 0.3s;
    position: relative;
}
#slider div.img1 {
    background-image: url(images/img1.jfif);
}
#slider div.img2 {
    background-image: url(images/img2.jfif);
}
#slider div#img3 {
    background-image: url(images/img3.jfif);
}
#slider div {
    min-width: 100%;
    background-size: 100% 502px;
}
#slider div p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
}
#slider div p:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 300ms;
}
#prev {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 45%;
    opacity: 0.4;
}
#next {
    position: absolute;
    z-index: 2;
    top: 45%;
    right: 0px;
    opacity: 0.4;
}
#next:hover {
    cursor: pointer;
    opacity: 1;
}
#prev:hover {
    cursor: pointer;
    opacity: 1;
}
div#product div.groceries img,
div.fruits img {
    height: 90%;
    width: 90%;
}
div#product section {
    width: 70%;
    height: 350px;
    background-color: aqua;
    margin: auto;
    margin-top: 5%;
}
div#product h3 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding-top: 7%;
}
div#product div.groceries div.allsub,
div.fruits div.all {
    padding: 2%;
    text-align: center;
}
div#product div.groceries div.allsub img,
div.fruits div.all img {
    border-radius: 10px;
    cursor: pointer;
}
div#product div.groceries div.allsub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    text-align: center;
}
div#product div.fruits div.all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
}
div#product div.vegetables div.veggies {
    text-align: center;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
div#product div.vegetables img {
    border-radius: 10px;
    cursor: pointer;
    width: 95%;
}
div#product div.groceries h3,
div#product div.fruits h3,
div#product div.vegetables h3 {
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
}
body div#product div.grid {
    display: grid;
    padding: 5% 5% 0% 5%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 7px 7px 0px 7px;
    grid-gap: 40px;
    margin-bottom: 30px;
    text-align: center;
}
div.grid div.items {
    padding: 2% 2% 0% 2%;
    background-color: bisque;
}
div.grid div.items h4 {
    padding: 2%;
    font-size: 20px;
    /* text-transform: uppercase; */
    overflow-wrap: break-word;
}
div.grid div.items p {
    font-weight: bolder;
    margin: 1% 2%;
}
div#product div.grid div.items p {
    letter-spacing: 1px;
}
div.grid div.items p span.cross {
    font-weight: normal;
    text-decoration-line: line-through;
    text-decoration-color: red;
    margin-left: 5%;
}
div#product div.grid div.items img {
    height: auto;
    width: auto;
}
div.grid div.items div.img:hover {
    transform: scale(1.1);
    transition: 300ms;
    overflow: hidden;
}
div.grid div.items div.cart p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div#product div.grid div.items div.cart img {
    height: 30px;
    width: 30px;
}
div.grid div.items div.cart p:hover {
    transform: scale(1.1);
    transition: 300ms;
    cursor: pointer;
}
div.grid div.items div.cart article {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div.grid div.items div.cart article span.control {
    display: inline-block;
    margin: 0px 8px;
}
div.grid div.items div.cart article span.control:hover {
    cursor: pointer;
    transform: scale(1.1);
}
div.grid div.items article span {
    display: inline-block;
    margin-left: 6px;
}