#product {
    margin-top: 7px;
}

div#product section {
    width: 70%;
    height: 350px;
    background-color: aqua;
    margin: auto;
    margin-top: 5%;
}

div#product div.groceries div.allsub {
    padding: 3%;
    text-align: center;
}

div#product div.groceries div.allsub img,
div.fruits div.all img,
div#product div.vegetables div.vege img {
    cursor: pointer;
    /* filter: blur(1px); */
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

div#product div.groceries div.allsub {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
    grid-gap: 75px;
    text-align: center;
}

div#product div.groceries div.allsub div.sub {
    position: relative;
}

div#product div.groceries div.allsub div.sub span {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 2.8em;
    color: rgb(8, 6, 24);
    text-transform: capitalize;
    width: 80%;
}

div#product div.fruits div.all,
div#product div.vegetables div.veggies {
    text-align: center;
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

div#product div.groceries h3,
div#product div.fruits h3,
div#product div.vegetables h3 {
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width:876px) {
    div#product div.groceries div.allsub {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 75px;
        text-align: center;
    }
    div#product div.groceries div.allsub div.sub span {
        font-size: 2.3em;
    }
    div#product div.groceries div.allsub {
        grid-gap: 35px;
    }
}

@media only screen and (max-width:600px) {
    div#product div.groceries div.allsub div.sub span {
        font-size: 2em;
    }
}

@media only screen and (max-width:528px) {
    div#product div.groceries div.allsub div.sub span {
        font-size: 1.7em;
    }
    div#product div.groceries div.allsub {
        grid-gap: 12px;
    }
}

@media only screen and (max-width:400px) {
    div#product div.groceries div.allsub div.sub span {
        font-size: 1.4em;
    }
}