* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(-90deg, rgb(162, 233, 224), rgb(135, 175, 228));
}

* {
    margin: 0px;
    padding: 0px;
}

* h1,
* h2,
* h3,
* h4,
* h5 {
    font-weight: normal;
}