* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(-90deg, rgb(162, 233, 224), rgb(135, 175, 228));
}

div.container div.child#slider {
    width: 100%;
    height: 200px;
}

div.container h1.child#name {}

div.container div.child#name h1#title {
    font-size: 2.8em;
}

div.container div.child#name div#price span {
    margin: 0px 30px;
    font-size: 1.2em;
}

div.container div.child#name div#price span.cross {
    text-decoration: line-through;
    text-decoration-color: rgb(178, 34, 34);
    text-decoration-thickness: 2px;
}

div.container div.child#name h1#title,
div.container div.child#name div#price {
    text-align: center;
}

div.container div.child#describe {
    box-sizing: border-box;
    padding: 20px;
}

div.container div.child#describe h2 {
    font-size: 2em;
    letter-spacing: 5px;
}

div.container div.child#describe h3 {
    padding: 4px 0px 5px 24px;
    letter-spacing: 2px;
}